<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>Fitme-Activating account</title>
</head>
<body>
	<div>
		<p>
			<b th:text="${email}"}>xxx@xxx.com</b>, Hi!
		</p>
		<p>
			Thanks for providing your email address. Just one more step. Please click on the link
			<a th:href="${url}">http://www.fitme.com/activation.html</a>,
			to activate and access your Fitme account.
		</p>
	</div>
</body>
</html>